<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4 mt-5">
        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <ul class="list-group p-2">
                    <li class="list-group-item"><span class="fw-semibold">Tu Nombre: </span><span th:text="${usuario.nombre}"></span></li>
                    <li class="list-group-item"><span class="fw-semibold">Tu Apellido: </span><span th:text="${usuario.apellido}"></span></li>
                    <li class="list-group-item"><span class="fw-semibold">Tu Email: </span> <span th:text="${usuario.email}"></span></li>
                    <li class="list-group-item"><span class="fw-semibold">Tu usuario fue creado en: </span><span th:text="${usuario.createAt}"></span></li>
                </ul>
                 <!-- <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Cambiar Contraseña</button> -->
                <a class="btn btn-danger mt-2" th:href="@{/perfil/facturas}">Mis Facturas</a>
                <a class="btn btn-secondary mt-2 float-end" th:href="@{/tienda}">Volver al Inicio</a>

                <!--
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Contraseña</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form th:object="${usuarioPassword}" th:action="@{/perfil/cambiar_password/}" method="POST">
                      <div class="modal-body">

                          <div class="mb-3">
                            <label  for="password-actual" class="col-form-label">Ingrese Contraseña Actual:</label>
                            <input th:field="*{passwordVieja}" type="password" class="form-control" id="password-actual">
                          </div>

                          <div class="mb-3">
                            <label  for="password-nueva" class="col-form-label">Ingrese Nueva Contraseña:</label>
                            <input th:field="*{password}" th:value="''" type="password" class="form-control" id="password-nueva">
                          </div>

                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Cambiar Contraseña" class="btn btn-primary"></input>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
                -->

            </div>
        </div>
    </div>


    <footer th:replace="layout/layout :: footer"></footer>


</body>
</html>